:root {
  --today-actions-height: calc(2em + 16px);
}
body {
  color: #FFFFFF;
  background: #282828;
  text-align: center;
  height: max(100%, 100vh);
  margin: 0;
}
h1, h2, a {
  user-select: none;
}
a {
  text-decoration: none;
  color: #5252E2;
}
a:hover {
  text-shadow: 0px 0px 0px #5252E2;
}
@keyframes no-js-popup {
  0% {bottom: -100px;}
  50% {bottom: -100px;}
  100% {bottom: 10px;}
}
#nojs-container {
  display: block;
  position: fixed;
  animation-name: no-js-popup;
  animation-duration: 4s;
  bottom: 10px;
  width: 100%;
}
#nojs {
  z-index: 1;
  width: 400px;
  height: 25px;
  background: red;
  border-radius: 5px;
  padding-top: 2px;
  text-align: center;
  margin: 0px auto;
}
.container {
  border-radius: 10px;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  border-spacing: 0;
  background: #323232;
  overflow: hidden;
}
table.container > tbody > tr:not(:last-child) {
  border-width: 0;
  border-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table.container > tbody > tr > td:not(:last-child) {
  border-width: 0;
  border-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
}
div.container {
  padding: 4px;
}
table.container > tbody > tr > td:not(.item) {
  padding: 4px;
}
.item {
  width: 150px;
  height: 150px;
  user-select: none;
  background: #323232;
  transition: background 0.5s;
}
.item:hover {
  background: #3E3E3E;
}
.item > a:only-child {
  display: table-cell;
  width: 150px;
  height: 150px;
  color: #FFFFFF;
  margin: auto;
  align-items: center;
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
}
.search-bar {
  color: #FFFFFF;
  background: #282828;
  width: calc(100% - 10px);
  padding: 4px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  resize: none;
  max-lines: 1;
  transition: border-color 0.4s;
}
.search-bar:focus {
  border-color: #007BFF;
}
#time-container {
  anchor-name: --time-anchor;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
}
#title-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
}
#global-container {
  position-anchor: --time-anchor;
  top: calc(2em + 8px);
  position: relative;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-flow: row nowrap;
}
#global-container > div {
  flex: 1 1 0;
  min-height: 50%;
  box-sizing: border-box;
}
#left-container {
  margin-right: 4px;
}
#today-actions-container {
  margin-top: 0;
  min-height: var(--today-actions-height);
}
#today-actions {
  font-size: 0.8em;
  font-weight: lighter;
  color: #CCCCCC;
  margin: 0;
}
#schedule-container {
  margin-top: 10px;
  min-height: max(20vh, 100vh - 4em - 16px - var(--today-actions-height));
}
#posts-container {
  margin-left: 4px;
  margin-top: 0;
}
#posts-list {
  min-height: 20vh;
}
