:root {
  --today-actions-height: calc(6em + 20px);
  --font-size-small: max(14px, 0.75em);
  --font-size-medium-small: max(14px, 0.8em);
}
body {
  color: #FFFFFF;
  background: #282828;
  text-align: center;
  height: max(100%, 100vh);
  margin: 0;
}
h1, h2, a {
  user-select: none;
}
a {
  text-decoration: none;
  color: #5252E2;
}
a:hover {
  text-shadow: 0 0 0 #5252E2;
}
@keyframes no-js-popup {
  0% {bottom: -100px;}
  50% {bottom: -100px;}
  100% {bottom: 10px;}
}
#nojs-container {
  display: block;
  position: fixed;
  animation-name: no-js-popup;
  animation-duration: 4s;
  bottom: 10px;
  width: 100%;
}
#nojs {
  z-index: 1;
  width: 400px;
  height: 25px;
  background: red;
  border-radius: 5px;
  padding-top: 2px;
  text-align: center;
  margin: 0 auto;
}
.container {
  border-radius: 10px;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  border-spacing: 0;
  background: #323232;
  overflow: hidden;
}
table.container > tbody > tr:not(:last-child) {
  border-width: 0;
  border-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table.container > tbody > tr > td:not(:last-child) {
  border-width: 0;
  border-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
}
div.container {
  padding: 4px;
}
table.container > tbody > tr > td:not(.item) {
  padding: 4px;
}
.item {
  width: 150px;
  height: 150px;
  user-select: none;
  background: #323232;
  transition: background 0.5s;
}
.item:hover {
  background: #3E3E3E;
}
.item > a:only-child {
  display: table-cell;
  width: 150px;
  height: 150px;
  color: #FFFFFF;
  margin: auto;
  align-items: center;
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
}
.button {
  color: #FFFFFF;
  background: #282828;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  margin-top: 2px;
  margin-right: 2px;
  padding: 2px 4px;
  cursor: pointer;
  transition: border-color 0.4s;
  display: inline-block;
}
.button:hover {
  border-color: #007BFF;
}
.search-bar, .input {
  color: #FFFFFF;
  background: #282828;
  width: calc(100% - 10px);
  padding: 4px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  font-size: var(--font-size-medium-small);
  outline: none;
  transition: border-color 0.4s;
}
.search-bar {
  resize: none;
  max-lines: 1;
}
.input {
  resize: none;
}
.markdown-input {
  min-height: calc(8em + 2px);
}
.search-bar:focus, .input:focus {
  border-color: #007BFF;
}
.markdown {
  font-size: var(--font-size-small);
}
.markdown-code {
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  padding: 1px 5px;
}
.markdown strong {
  text-decoration: underline;
}
.emoji-autocomplete {
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius:4px;
}
.news-entry {
  position: relative;
  text-align: left;
  justify-content: left;
  background: #303030;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 1px 5px;
  transition: border-color 0.4s;
  user-select: none;
}
.news-entry:hover {
  border-color: #007BFF;
}
.news-content {
  padding-top: 0;
  padding-bottom: 0;
}
.news-date {
  text-align: center;
  font-size: var(--font-size-small);
  color: #CCCCCC;
}
.news-author {
  position: absolute;
  top: 4px;
  right: 6px;
  text-align: right;
  font-size: var(--font-size-small);
  color: #CCCCCC;
}
#time-container {
  anchor-name: --time-anchor;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
}
#title-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
}
#global-container {
  position-anchor: --time-anchor;
  top: calc(2em + 8px);
  position: relative;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-flow: row nowrap;
}
#global-container > div {
  flex: 1 1 0;
  min-height: 50%;
  box-sizing: border-box;
}
#left-container {
  margin-right: 4px;
}
#today-actions-container {
  margin-top: 0;
  min-height: var(--today-actions-height);
}
#today-actions {
  font-size: var(--font-size-medium-small);
  font-weight: lighter;
  color: #CCCCCC;
  margin: 0;
}
#schedule-container {
  margin-top: 10px;
  min-height: max(20vh, 100vh - 4em - 16px - var(--today-actions-height));
}
#arms-race-current {
  color: #CCFFCC;
}
#arms-race-next {
  color: #CCCCCC;
}
#posts-container {
  margin-left: 4px;
  margin-top: 0;
}
#admin-posts-container, #action-container {
  margin: 0 auto 4px;
  max-width: 50vw;
}
#posts-list {
  min-height: max(20vh, 5em);
}
#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: none; /* flex */
  justify-content: center;
  align-items: center;
}
#popup-content {
  position: relative;
  text-align: left;
  justify-content: left;
  min-width: calc(300px + 4em);
}

@media screen and (max-width: 900px), screen and (orientation: portrait) {
  #global-container {
    display: block;
  }
  #global-container > div {
    min-height: 0;
  }
  #schedule-container {
    min-height: 1em;
  }
  #posts-container {
    margin-left: 0;
    margin-top: 8px;
    margin-right: 4px;
  }
  #admin-posts-container, #action-container {
    margin: 0 4px 4px;
    max-width: 100vw;
  }
  #posts-list {
    min-height: 5em;
  }
}
