body {
  color: #FFFFFF;
  background: #282828;
  text-align: center;
}
h1, h2, a {
  user-select: none;
}
a {
  text-decoration: none;
  color: #5252E2;
}
a:hover {
  text-shadow: 0px 0px 0px #5252E2;
}
@keyframes no-js-popup {
  0% {bottom: -100px;}
  50% {bottom: -100px;}
  100% {bottom: 10px;}
}
#nojs-container {
  display: block;
  position: fixed;
  animation-name: no-js-popup;
  animation-duration: 4s;
  bottom: 10px;
  width: 100%;
}
#nojs {
  z-index: 1;
  width: 400px;
  height: 25px;
  background: red;
  border-radius: 5px;
  padding-top: 2px;
  text-align: center;
  margin: 0px auto;
}
.container {
  margin: auto auto;
  border-radius: 10px;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  border-spacing: 0;
  background: #323232;
  overflow: hidden;
}
table.container > tbody > tr:not(:last-child) {
  border-width: 0;
  border-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table.container > tbody > tr > td:not(:last-child) {
  border-width: 0;
  border-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
}
div.container {
  display: inline-block;
  padding: 4px;
}
table.container > tbody > tr > td:not(.item) {
  padding: 4px;
}
.item {
  width: 150px;
  height: 150px;
  user-select: none;
  background: #323232;
  transition: background 0.5s;
}
.item:hover {
  background: #3E3E3E;
}
.item > a:only-child {
  display: table-cell;
  width: 150px;
  height: 150px;
  color: #FFFFFF;
  margin: auto;
  align-items: center;
  vertical-align: middle;
}

