/*
CSS Style Sheet that unify font rendering between browsers and operating system
(Require CSS3 Support on the used browser)
By Fox2Code
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=fallback');

:root, textarea {
  /* Unify font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  font-size: max(18px, 1em);
  font-kerning: normal;
  font-optical-sizing: none;
}
